@charset "UTF-8";

body{
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}

.post{
    margin-bottom: 50px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}

.post a{
    font-size: 18px;
}

.post small{
    font-size: 10px;
}

.post_container ul{
    margin: 0 0 0 0;
}

.container{
    width: 960px;
    margin: 0 auto;
    font-family: Open Sans, sans-serif;
}

.container ul{
    margin: 0 0 0 0;
}

.container a{
    color: #0c142f;
}

.container a:hover{
    color: #0c142f;
}

ul{
    list-style-type: none;
}

#welcome_back{
    float:right;
}

#welcome_back a{
    margin-left: 10px;
}

#user_login{
    float:right;
    width: 120px;
}

#title h1{
    font-size: 36px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;  
}

.delete_form{
    float:left;
    margin-right:10px;
}

.edit_form{
    float:left;
    margin-right:10px;
}

.comment_form{
    float:left;
    margin-right:10px;
}

.comment textarea{
    width: 500px;
}

.comment{
    font-size: 10px;
    margin-top:20px;
}

.header{
    margin-bottom: 100px;
}

.post_comment{
    margin-bottom:55px;
}

#submit_post{
    float:left;
}

#sign_in{
    width:410px;
    float:left;
    border: 2px solid #0c142f;
    padding:10px;
}

#sign_up{
    width:410px;
    margin-left: 40px;
    float:left;
    border: 2px solid #0c142f;
    padding:10px;
}

#create_text{
    width:410px;
    float:left;
    border: 2px solid #0c142f;
    padding:10px;
    font-size: 16px;
}

#create_link{
    width:410px;
    margin-left: 40px;
    float:left;
    border: 2px solid #0c142f;
    padding:10px;
    font-size: 16px;

}

#text_post_comments{
    margin-bottom: 30px;
}

#logout_button{
    float:right;
    margin-left:10px;
}

#submit_button{
    color:white;
    background-color: #0c142f;
}

hr{
    margin-top:20px;
}

.create_post_form{
    font-size: 10px;
    margin-top:20px;
}

.create_post_form textarea{
    width: 396px;
}
